{% extends "base.html" %}

{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} <title>TCK POSmate - Password Reset</title> {% endblock %}



{% block main %}


<main id="main" class="main">
    <section class="section emails-page-wrapper mobile-devices">
    <a href="{% url 'homeUrl' %}" class="logo d-flex align-items-center w-auto">

                  <span class="d-none d-lg-block login-h1 mb-3">TCK POSmate</span>
                </a>
    <h1 class="mt-4"> Password Reset </h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p> Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" value="Reset My Password" class="btn btn-info"/>
    </form>
        <br>
        <h5>Please <a href="https://tck.lk/contacts">Contact us </a> if you have any trouble resetting your password.</h5>
    </section>
</main>
{% endblock %}
