{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} Set Password {% endblock %}

{% block main %}
    <main id="main" class="main">
    <section class="section emails-page-wrapper mobile-devices">
        <a href="{% url 'homeUrl' %}" class="logo d-flex align-items-center w-auto">

                  <span class="d-none d-lg-block login-h1 mb-3">TCK POSmate</span>
                </a>
    <h1>Set Password </h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" name="action" value=" Set Password "/>
    </form>
    </section>
    </main>
{% endblock %}
