{% extends "base.html" %}
{% load account %}

{% block title %} <title>TCK POSmate - Password Reset</title> {% endblock %}

{% block main %}
    <main id="main" class="main">
    <section class="section emails-page-wrapper mobile-devices">
    <a href="{% url 'homeUrl' %}" class="logo d-flex align-items-center w-auto">

                  <span class="d-none d-lg-block login-h1 mb-3">TCK POSmate</span>
                </a>
    <h1> Password Reset link sent to your email. <br> Go and click the link.</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>We have sent you an e-mail. Please <a href="https://tck.lk/contacts">contact us if you do not receive it within a few minutes.</p>
    </section>
    </main>
{% endblock %}