<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCK POSmate</title>
</head>
<body>
    <h1>This is html Test email</h1>
    <button><a href="{{ activate_url }}"> You're receiving this e-mail because user has given your e-mail address to register an account on .

To confirm this is correct, Click here</a></button>
    <h4>You are receiving this email because you requested an account at posmate.tck.lk . If you did not do this, Please ignore this email.</h4>
</body>
</html>